$border-radius-01: 0px;
$border-radius-02: 8px;
$border-radius-03: 24px;
$border-radius-04: 40px;
$border-radius-05: 100px;

$border-default: 1px solid $color-midgray;
$border-light: 1px solid $color-lightgray;
$border-black: 1px solid $color-black-02;
